/Build/
/Configuration/*
!/Configuration/Routes.yaml
/Data/
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat

.buildpath
.project
.settings

Readme.rst
Upgrading.rst

Readme.txt
Upgrading.txt

/.vagrant/
