/Build/
/Configuration/
/Data/
/Packages/
/Web/
/bin/
/Readme.rst
/Upgrading.rst
/flow
/flow.bat

.buildpath
.project
.settings

Configuration/Settings.yaml.example
Readme.rst
Upgrading.rst

/.vagrant/